<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="header-style">
    <h1>
      Tech Blawg
    </h1>
    {{#if signed_in}}
    <nav>
      <button class="btn" id="signout">sign out</button>
    </nav>
    {{/if}}
  </header>
  <main class="container-1">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if signed_in}}
  <script src="/js/signout.js"></script>
  {{/if}}
</body>

</html>
